@page "/fetchdatafromserver"

@using Demo.OrganizationalStructure.Client.Web.Data
@*@inject WeatherForecastService ForecastService*@
@inject OrganizationalStructureSignalRHub OrganizationalStructureSignalRHub

<h1>FetchDataFromServer</h1>

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="ConnectToServer">Connect to SignalR Server</button>


<p>This component demonstrates fetching data from a service.</p>



@code {    
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        OrganizationalStructureSignalRHub.LoadOrganisation += obj =>
        {
            currentCount = obj.Employees.Count;
            this.StateHasChanged();
        };
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void ConnectToServer()
    {
        await OrganizationalStructureSignalRHub.ConnectWithServerAsync();
    }
}
